<h4>Welcome to Server Manager 4.0</h4>
<p>Manage your Servers and Users.</p>
<button
  class="btn btn-primary"
  (click)="onLoadServer(1)">
  Load Servers router.navigate...
</button>
<div class="log-in-and-out">
    <button
      class="btn btn-success"
      (click)="onLogin()">Login</button>
    <button
      class="btn btn-danger"
      (click)="onLogout()">Logout</button>
</div>
<div class="log-in-and-out">
  <p *ngIf="canReachChildServers">You are logged in so you can reach the child servers in server tab</p>
  <p *ngIf="!canReachChildServers">You are logged out so you can not reach the child servers in server tab</p>
</div>
