<!-- Example row of columns -->
<div class="row">
    <div class="col-lg-6">
        <form name="frm" ng-submit="submitForm()">
            <div class="form-control-container">
                <input type="email" name="email" ng-model="user.email" class="form-control" placeholder="Your E-Mail" required />
                <span class="error-message" ng-show="frm.email.$dirty && frm.email.$error.required">E-mail is required</span>
                <span class="error-message" ng-show="frm.email.$dirty && frm.email.$error.email">Not an e-mail</span>
            </div>

            <div class="form-control-container">
                <input type="password"
                       name="password"
                       ng-model="user.password"
                       class="form-control"
                       placeholder="Password"
                       required
                       ng-minlength="5"
                       ng-maxlength="10" />
                <span class="error-message" ng-show="frm.password.$dirty && frm.password.$error.required">Required</span>
                <span class="error-message" ng-show="frm.password.$dirty && frm.password.$error.minlength">Too short</span>
                <span class="error-message" ng-show="frm.password.$dirty && frm.password.$error.maxlength">Too long</span>
            </div>

            <button class="btn btn-success" ng-disabled="frm.$invalid">Log In</button>

        </form>
    </div>
    <div class="col-lg-6">
        <h2>About Our Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
            porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
            fermentum massa.</p>
        <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
</div>