<div class="row">
  <div class="col-md-3 col-6">
    <label for="startNumber">Start from number:</label>
  </div>
  <div class="col-md-3 col-6">
    <input
      type="number"
      id="startNumber"
      class="form-control"
      value="0"
      #startNumber />
  </div>
  <div class="col-md-3 col-6">
    <button
      class="btn btn-success"
      (click)="startTheGame()">Start Counting Down</button>
  </div>
  <div class="col-md-3 col-6">
    <button
      class="btn btn-danger"
      (click)="pauseTheGame()">Pause</button>
  </div>
</div>
