<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <app-cockpit
        (serverCreated)="onServerAdded($event)"
        (bpCreated)="onBlueprintAdded($event)"></app-cockpit>
      <div class="more-btns">
        <button
          class="btn btn-success"
          (click)="onChangeFirst()"
          [disabled]="!this.serverElements[0]">Change First Element</button>
        <button
          class="btn btn-danger"
          (click)="onDestroyFirst()">Destroy First Element</button>
      </div>
      {{ childData }}
    </div>
    <div class="col-sm-5 aside-ui">
      <app-aside-ui
        (childEvent)="childData=$event"
        [parentData]="transporter"></app-aside-ui>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement"
        [name]="serverElement.name">
        <!-- supported by ng-content in this component... -->
        <p #contentParagraph>
          <strong
            class="red"
            *ngIf="serverElement.type === 'server'">
            {{ serverElement.content }}
          </strong>
          <strong
            class="blue"
            *ngIf="serverElement.type === 'blueprint'">
            {{ serverElement.content }}
          </strong>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
