<p>User with ID {{ user.id }} loaded.</p>
<p>User name is {{ user.name }}</p>
<div class="btns">
  <a
    class="btn btn-warning"
    [routerLink]="['/users', 2, 'Anna']">Load Anna</a>
  <a
    class="btn btn-primary"
    [routerLink]="['/users', 4, 'Joe']">Load Joe</a>
  <a
    class="btn btn-default"
    [routerLink]="['/users', 5, 'Andy']">Load Andy</a>
  <a
    class="btn btn-success"
    [routerLink]="['/users', 6, 'Emma']">Load Emma</a>
</div>
<div class="btns btns2">
  <a
    class="btn btn-danger"
    (click)="onLoadServer(1)">Load Server 1</a>
</div>
