.bootstrap-img {
    max-width: 100%;
}

@media screen and (max-width: 767px) {
    .jumbotron {
        text-align: center;
    }

    nav ul li a {
        border-bottom: 1px solid #ddd;
    }

    nav ul li:last-child a {
        border-bottom: none;
    }
}