<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="container">
  <div>
    <button class="btn btn-primary" (click)="onToggleDetails()">
      Display details
    </button>
    <div class="secret-text-wrap">
      <p *ngIf="showSecret">Secret password = joł</p>
    </div>
    <div
      *ngFor="let logItem of log, let i = index"
      [ngStyle]="{backgroundColor: (logItem%3 === 0) ? '#1e65d8' : '#d6cbcb'}"
      [ngClass]="{'white-text': (logItem%3 === 0)}"
      >{{ i }} : {{logItem }}</div>
  </div>
  <app-servers></app-servers>
  <div class="row">
    <div class="col-sm-6">
      <app-radio-material></app-radio-material>
    </div>
    <div class="col-sm-6">
      <app-select></app-select>
      <app-checkboxes-material></app-checkboxes-material>
    </div>
  </div>
</div>
>
