<div class="container">
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <div class="p-5">
        <button
          class="btn btn-default"
          (click)="onChangeFirst()">Change First Element</button>
      </div>
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement"
        [name]="serverElement.name">
        <!-- supported by ng-content in this component... -->
        <p>
          <strong
            class="red"
            *ngIf="serverElement.type === 'server'">
            {{ serverElement.content }}
          </strong>
          <strong
            class="blue"
            *ngIf="serverElement.type === 'blueprint'">
            {{ serverElement.content }}
          </strong>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
