<div class="container">
  <div class="row pt-2">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{odd: odd % 2 !== 0}"
            *ngFor="let odd of oddNumbers">
            {{ odd }}
          </li>
        </div>
        <!-- optional: -->
        <ng-template [ngIf]="!onlyOdd">
          <div>
            <li
              class="list-group-item"
              [ngClass]="{even: even % 2 === 0}"
              *ngFor="let even of evenNumbers"
              [appBetterHighlight]="'#5400ff'"
              defaultColor='#cdb5ff'>
              <!-- the same as [defaultColor]="'#cdb5ff'"-->
              {{ even }}
            </li>
          </div>
        </ng-template>
      </ul>
      <p appBasicHighlight>Style me with basic directive</p>
      <p [appBetterHighlight]="'#00ff69'"
        [defaultColor]="'#f4ffd6'">
        Style me with better directive - TRY MOUSE ENTER AND LEAVE
      </p>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>
      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">Value is 5</p>
        <p *ngSwitchCase="10">Value is 10</p>
        <p *ngSwitchCase="100">Value is 100</p>
        <p *ngSwitchDefault>Value is Default</p>
      </div>
      <ul class="list-group">
        <div *appUnless="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{even: even % 2 === 0}"
            *ngFor="let even of evenNumbers"
            [appBetterHighlight]="'#bcc7d8'"
            defaultColor='#818fa5'>
            {{ even }}
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>
